body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: #2d2d2d;
  color: #ffffff;
}

.container {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

#editable-text {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  background-color: #3e3e3e;
  color: #ffffff;
}

#drawer-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}

.drawer {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

.drawer.open {
  right: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.controls label {
  margin-bottom: 2px;
}

.controls input[type="range"] {
  margin-bottom: 5px;
}

.controls select {
  margin-bottom: 5px;
}

.controls input[type="file"],
.controls button {
  cursor: pointer;
  background-color: #4d4d4d;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.controls button:hover {
  background-color: #656565;
}

.feature-toggle {
  /* Common styles for the feature toggle buttons  */
}

.feature-toggle[data-state="off"] {
  background-color: #4d4d4d;
  color: #ffffff;
}

.feature-toggle[data-state="on"] {
  background-color: #29b573;
  color: #ffffff;
}

.controls button.mixed {
  background-color: #ffaa00;
}
